# Sekret files
.env
SECRET_KEY = a3f8c2d1e4b5a6f7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Database files
*.db
*.sqlite3

# IDE
.idea/
.vscode/